# Analise Descritiva

### Modulos

In [2]:
import pandas as pd
import numpy as np

### Dados

In [7]:
df_paises = pd.read_csv('../dados/Atividade cap 11 dados_1997_2011_paises_csv.csv', sep=';', decimal=',', encoding='latin1')

df_paises.head()

,pais,ano,idh,corrupcao_indice,competitividade_indice,globalizacao_indice,pib,populacao
0,África do Sul,1997,0.6328,56,44.54,52.60298,148814151.0,43353.632
1,África do Sul,1998,0.6272,57,31.11,54.51911,134295557.0,43961.924
2,África do Sul,1999,0.6216,50,43.90,61.04379,133183581.0,44526.272
3,África do Sul,2000,0.6160,52,51.52,62.47182,132877648.0,45064.098
4,África do Sul,2001,0.6126,50,45.12,62.04144,118478979.0,45576.215

In [9]:
df_paises.dtypes

pais                       object
ano                         int64
idh                       float64
corrupcao_indice            int64
competitividade_indice    float64
globalizacao_indice       float64
pib                       float64
populacao                 float64
dtype: object

- Contagem dos Paises

In [16]:
df_paises.groupby('pais') \
    .agg(n = pd.NamedAgg('pais', 'count')) \
    .reset_index()

              pais   n
0         Alemanha  15
1        Austrália  15
2           Brasil  15
3          Bélgica  15
4           Canadá  15
5            China  15
6        Cingapura  15
7           Coréia  15
8          Espanha  15
9   Estados Unidos  15
10          França  15
11         Holanda  15
12          Itália  15
13           Japão  15
14          México  15
15     Reino Unido  15
16          Rússia  15
17   África do Sul  15
18           Índia  15

- Medidas descritivas: Posição

In [18]:
df_paises.groupby('pais') \
    .agg(min_idh = pd.NamedAgg('idh', 'min'),
         max_idh = pd.NamedAgg('idh', 'max'),
         media_idh = pd.NamedAgg('idh', 'mean')) \
    .reset_index()

              pais  min_idh  max_idh  media_idh
0         Alemanha   0.8466   0.9050   0.882880
1        Austrália   0.8958   0.9290   0.914507
2           Brasil   0.6464   0.7180   0.684653
3          Bélgica   0.8628   0.8860   0.876107
4           Canadá   0.8736   0.9080   0.890480
5            China   0.5598   0.6870   0.625240
6        Cingapura   0.7404   0.8660   0.821587
7           Coréia   0.8078   0.8970   0.856907
8          Espanha   0.8162   0.8780   0.852427
9   Estados Unidos   0.8886   0.9130   0.900947
10          França   0.8298   0.8840   0.861773
11         Holanda   0.8724   0.9100   0.891320
12          Itália   0.8070   0.8740   0.848000
13           Japão   0.8572   0.9010   0.881360
14          México   0.6916   0.7700   0.736080
15     Reino Unido   0.8228   0.8630   0.846440
16          Rússia   0.6814   0.7550   0.718520
17   África do Sul   0.5990   0.6328   0.612240
18           Índia   0.4466   0.5470   0.495680

- Moda

In [20]:
df_paises.groupby('pais')['idh'] \
    .apply(lambda x: x.mode().iloc[0]) \
    .to_frame() \
    .reset_index()

              pais     idh
0         Alemanha  0.8466
1        Austrália  0.8958
2           Brasil  0.6464
3          Bélgica  0.8628
4           Canadá  0.9030
5            China  0.5598
6        Cingapura  0.7404
7           Coréia  0.8078
8          Espanha  0.8162
9   Estados Unidos  0.8886
10          França  0.8298
11         Holanda  0.8724
12          Itália  0.8070
13           Japão  0.8572
14          México  0.6916
15     Reino Unido  0.8600
16          Rússia  0.6814
17   África do Sul  0.5990
18           Índia  0.4466

- Mediana

In [25]:
df_paises.groupby('pais') \
    .agg(median_idh = pd.NamedAgg('idh', 'median')) \
    .reset_index()

              pais  median_idh
0         Alemanha      0.8888
1        Austrália      0.9156
2           Brasil      0.6866
3          Bélgica      0.8754
4           Canadá      0.8894
5            China      0.6240
6        Cingapura      0.8282
7           Coréia      0.8588
8          Espanha      0.8534
9   Estados Unidos      0.9010
10          França      0.8644
11         Holanda      0.8884
12          Itália      0.8538
13           Japão      0.8824
14          México      0.7364
15     Reino Unido      0.8506
16          Rússia      0.7182
17   África do Sul      0.6100
18           Índia      0.4954

### Percentis

In [26]:
def my_quantile(array, q):
    n = len(array)
    index = (n - 1) * q
    if int(index) == index:
        return array[index]
    fraction = index - int(index)
    left = int(index)
    right = left + 1
    i, j = array[left], array[right]
    return i + (j - i) * fraction

In [27]:
dados = [1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
my_quantile(dados, 0.35)

2.0

In [29]:
np.quantile(dados, 0.35)

np.float64(2.0)

# Medidas de Variabilidade

- Desvio Médio Absoluto

In [31]:
df_paises.groupby('pais') \
    .agg(desvio_medio_abs_idh = pd.NamedAgg('idh', 'std')) \
    .reset_index()

              pais  desvio_medio_abs_idh
0         Alemanha              0.020187
1        Austrália              0.010485
2           Brasil              0.022727
3          Bélgica              0.006401
4           Canadá              0.011899
5            China              0.041928
6        Cingapura              0.037984
7           Coréia              0.029773
8          Espanha              0.019299
9   Estados Unidos              0.006558
10          França              0.018103
11         Holanda              0.012341
12          Itália              0.023729
13           Japão              0.014602
14          México              0.024646
15     Reino Unido              0.013745
16          Rússia              0.026420
17   África do Sul              0.009790
18           Índia              0.034417

- Variancia e Desvio Padrão

In [32]:
df_paises.groupby('pais') \
    .agg(variancia_idh = pd.NamedAgg('idh', 'var'),
         dp_idh = pd.NamedAgg('idh', 'std')) \
    .reset_index()

              pais  variancia_idh    dp_idh
0         Alemanha       0.000408  0.020187
1        Austrália       0.000110  0.010485
2           Brasil       0.000517  0.022727
3          Bélgica       0.000041  0.006401
4           Canadá       0.000142  0.011899
5            China       0.001758  0.041928
6        Cingapura       0.001443  0.037984
7           Coréia       0.000886  0.029773
8          Espanha       0.000372  0.019299
9   Estados Unidos       0.000043  0.006558
10          França       0.000328  0.018103
11         Holanda       0.000152  0.012341
12          Itália       0.000563  0.023729
13           Japão       0.000213  0.014602
14          México       0.000607  0.024646
15     Reino Unido       0.000189  0.013745
16          Rússia       0.000698  0.026420
17   África do Sul       0.000096  0.009790
18           Índia       0.001185  0.034417