# Amostragem

### Modulos

In [ ]:
import pandas as pd
import numpy as np
import random as rd
from sklearn.model_selection import train_test_split

### Dados

In [5]:
import pandas as pd 
dados = pd.read_csv(r'..\dados\dados_renda_municipios.csv', sep=',', decimal=',', encoding='utf-8')
dados.head()

         UF              Municipio    RDPC
0  Rondônia  ALTA FLORESTA D'OESTE  476.99
1  Rondônia              ARIQUEMES  689.95
2  Rondônia                 CABIXI  457.17
3  Rondônia                 CACOAL  738.06
4  Rondônia             CEREJEIRAS  577.18

In [6]:
dados.shape

(5565, 3)

## Amostragem por Estado

- Selecionar estado

In [7]:
# Ajustes iniciais
uf = 'São Paulo'

In [12]:
dados_municipios = dados[dados['UF'] == uf].reset_index(drop=True)

In [11]:
dados_municipios.shape

(645, 3)

- Criar Estratos

In [18]:
dados_municipios['RDPC'] = pd.to_numeric(dados_municipios['RDPC'], errors='coerce')

In [19]:
dados_municipios['classe_renda'] = pd.qcut(dados_municipios['RDPC'], 4, labels=['D', 'C', 'B', 'A'])

In [20]:
dados_municipios.head()

          UF         Municipio    RDPC classe_renda
0  São Paulo        ADAMANTINA  975.43            A
1  São Paulo            ADOLFO  661.65            C
2  São Paulo             AGUAÍ  636.07            C
3  São Paulo    ÁGUAS DA PRATA  853.39            A
4  São Paulo  ÁGUAS DE LINDÓIA  730.13            B

- Analise Piloto

In [21]:
dados_piloto = dados_municipios.agg(media_RDPC = pd.NamedAgg(column='RDPC', aggfunc='mean'),
                                    dp_RDPC = pd.NamedAgg(column='RDPC', aggfunc='std'),
                                    N = pd.NamedAgg(column='RDPC', aggfunc='count'))

In [22]:
dados_piloto

                  RDPC
media_RDPC  713.926155
dp_RDPC     197.398270
N           645.000000